<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.s3.member.MemberDAO">
	<select id="memberIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
		select id from member where id=#{id}
	</select>

	<insert id="setFileInsert" parameterType="MemberFileDTO">
		insert into memberFile values (fn_seq.nextval, #{id}, #{fileName}, #{origineName})
	</insert>

	<select id="memberLogin" parameterType="MemberDTO" resultMap="memberLoginResult">	
		select M.*, MF.* 
		from member M left join memberFile MF
		on M.id = MF.id
		where M.id=#{id} and M.pw=#{pw}
	</select>
	
	<resultMap type="MemberDTO" id="memberLoginResult">
		<id property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<association property="memberFileDTO" javaType="MemberFileDTO" resultMap="memberFileResult">
			
		</association>
	</resultMap>
	
	<resultMap type="MemberFileDTO" id="memberFileResult">
		<id property="num" column="num"/>
		<result property="fileName" column="fileName"/>
		<result property="originName" column="originName"/>
	</resultMap>
	
	
	
	<insert id="memberJoin" parameterType="MemberDTO">
		insert into member values (#{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		update member set pw=#{pw}, name=#{name}, phone=#{phone}, email=#{email} where id=#{id}
	</update>

	<delete id="memberDelete" parameterType="MemberDTO">
		delete member where id=#{id}
	</delete>
	
	<select id="memberLoginFile" resultType="MemberFileDTO" parameterType="MemberDTO">	<!-- resultType이 있으면 mybtis내에서 new MemberFileDTO하면서 setter로 넣어줘 -->
		select * from memberFile where id=#{id}
	</select>

	<select id="getMemberFile" parameterType="MemberDTO" resultType="MemberFileDTO"> <!-- 원하는건 file name이니까 -->
		select fileName from memberFile where id=#{id}
	</select>



</mapper>   

