<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.s3.board.notice.NoticeDAO">

		
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		select count(num) from notice
		where 
		<choose>
			<when test="kind=='Writer'">
				writer
			</when>
						
			<when test="kind=='Contents'">
				contents
			</when>
					
			<otherwise>
				title
			</otherwise>
		</choose>
		like '%'||#{search}||'%' and num>0
	</select>
	

	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		select * from
			(select rownum R, N.* from
				(select * from notice where 
					<choose>
						<when test="kind=='Writer'">
							writer
						</when>
						
						<when test="kind=='Contents'">
							contents
						</when>
					
						<otherwise>
							title
						</otherwise>
					</choose>

				like '%'||#{search}||'%' and num>0 order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="getSelect" parameterType="BoardDTO" resultType="NoticeDTO">
		select * from notice where num = #{num}
	</select>
	
	<insert id="setInsert" parameterType="BoardDTO">
		insert into notice values (notice_seq.nextval, #{title}, #{writer}, #{contents}, 0, sysdate) 
	</insert>
	
	<update id="setUpdate" parameterType="NoticeDTO">
		update notice set title=#{title}, contents=#{contents}, writer=#{writer}, regDate=#{regDate}, hit=#{hit} where num=#{num}
	</update>	
	
	<delete id="setDelete" parameterType="NoticeDTO">
		delete notice where num = #{num}
	</delete>
	
	<update id="setHitUpdate" parameterType="NoticeDTO">
		update notice set hit=(select hit from notice where num=#{num})+1 where num=#{num}
	</update>

	
</mapper>